.icon-cls {
    background: url(../images/easyui/class.gif) no-repeat !important;
}
.icon-event {
    background: url(../images/easyui/event.gif) no-repeat !important;
}
.icon-config {
    background: url(../images/easyui/config.gif) no-repeat !important;
}
.icon-prop {
    background: url(../images/easyui/prop.gif) no-repeat !important;
}
.icon-method {
    background: url(../images/easyui/method.gif) no-repeat !important;
}
.icon-cmp {
    background: url(../images/easyui/cmp.gif) no-repeat !important;
}
.icon-pkg {
    background: url(../images/easyui/pkg.gif) no-repeat !important;
}
.icon-fav {
    background: url(../images/easyui/fav.gif) no-repeat !important;
}
.icon-static {
    background: url(../images/easyui/static.gif) no-repeat !important;
}
.icon-docs {
    background: url(../images/easyui/docs.gif) no-repeat !important;
}
.icon-expand-all {
    background: url(../images/easyui/expand-all.gif) no-repeat !important;
}
.icon-collapse-all {
    background: url(../images/easyui/collapse-all.gif) no-repeat !important;
}
.icon-expand-members {
    background: url(../images/easyui/expand-members.gif) no-repeat !important;
}
.icon-hide-inherited {
    background: url(../images/easyui/hide-inherited.gif) no-repeat !important;
}
.icon-org {
    background: url(../images/easyui/org.gif) no-repeat !important;
}
.icon-save {
    background:transparent url(../images/easyui/save.gif) no-repeat no-repeat !important;
}
.icon-save-back {
    background: url(../images/easyui/save-back.png) no-repeat !important;
}
.icon-add {
    background: url(../images/easyui/add.gif) no-repeat !important;
}
.icon-delete {
    background: url(../images/easyui/delete.gif) no-repeat !important;
}
.icon-add-row {
    background: url(../images/easyui/add-row.gif) no-repeat !important;
}
.icon-delete-row {
    background: url(../images/easyui/delete-row.gif) no-repeat !important;
}
.icon-back {
    background: url(../images/easyui/back.png) no-repeat !important;
}
.icon-search {
    background: url(../images/easyui/search.png) no-repeat !important;
}
.icon-search-row {
    background: url(../images/easyui/search-row.png) no-repeat !important;
}
.icon-reload {
    background: url(../images/easyui/reload.png) no-repeat !important;
}
.icon-reset {
    background: url(../images/easyui/reload.png) no-repeat !important;
}
.icon-print {
    background: url(../images/easyui/print.gif) no-repeat !important;
}
.icon-export {
    background: url(../images/easyui/print.gif) no-repeat !important;
}
.icon-help {
    background: url(../images/easyui/help.png) no-repeat !important;
}
.icon-check {
    background: url(../images/easyui/check.png) no-repeat !important;
}
.icon-copy {
    background: url(../images/easyui/copy.png) no-repeat !important;
}
.icon-example {
    background: url(../images/easyui/example.gif) no-repeat !important;
}
.icon-retry {
    background: url(../images/easyui/retry.png) no-repeat !important;
}
.icon-send-now {
    background: url(../images/easyui/send-now.gif) no-repeat !important;
}
.icon-receive-now {
    background: url(../images/easyui/send-receive.gif) no-repeat !important;
}
.icon-edit {
    background: url(../images/easyui/edit.png) no-repeat !important;
}
.icon-checked {
    background: url(../images/easyui/checked.gif) no-repeat !important;
}
.icon-unchecked {
    background: url(../images/easyui/unchecked.gif) no-repeat !important;
}
.icon-pick-button {
    background: url(../images/easyui/pick-button.gif) no-repeat !important;
}
.icon-cancel {
    background:transparent url(../images/easyui/delete.gif) no-repeat  !important;
}
.icon-apply {
    background: url(../images/easyui/apply.png) no-repeat !important;
}
.icon-offset {
    background: url(../images/easyui/offset.png) no-repeat !important;
}
.icon-success {
    background: url(../images/easyui/success.gif) no-repeat !important;
}
.icon-forum {
    background: url(../images/easyui/forum.gif) no-repeat !important;
}
.icon-pdf {
    background: url(../images/easyui/pdf.gif) no-repeat !important;
}
.icon-excel {
    background: url(../images/easyui/excel.gif) no-repeat !important;
}
.icon-word {
    background: url(../images/easyui/word.gif) no-repeat !important;
}
.icon-btncom {
	 background: url(../images/easyui/prop.gif) no-repeat !important;
}
.icon-close {
    background: url(../images/easyui/close.gif) no-repeat !important;
}
.icon-detail {
    background: url(../images/easyui/detail.gif) no-repeat !important;
}
.icon-after {
	background: url(../images/easyui/after.gif) no-repeat !important;
}
.icon-before {
	background: url(../images/easyui/before.gif) no-repeat !important;
}
